

.paymentBlock {
    width: 100%;
    max-width: 800px;
    background-color: rgb(246,246,246);
    padding: 2rem;
}

.paymentBlock p {
    font-size: 20px;
}

.paymentBlock input {
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    height: 25px;
    font-size: 20px;
    background: transparent;
    margin-right: 20px;

    margin-bottom: 20px;

}

.inputWrapper {
    display: flex;
    justify-content: space-between;
}

.payButton {
    margin-top: 20px;
    width: 350px;
    height: 50px;
}


@media screen and (max-width: 800px) {
    
    .paymentBlock {
        width: 85%;
    }

    .paymentBlock input {
        display: block;
        width: 100%;
    }

    .inputWrapper {
        display: block;
    }
}